<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>AppleScript Support Plugin 1.0; Copyright © 2003-2007, Timothy Hatcher</string>
	<key>CFBundleSignature</key>
	<string>coRC</string>
</dict>
</plist>
